:root {
  --border-color: #e3e3e3;
  --main-background-color: #f6f8fa;
  --sidebar-background-color: #ffffff;
  --white-color: #ffffff;
}

#app {
  position: relative;
}

.header {
  display: flex;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background-color: black;
  color: var(--white-color);
  z-index: 10;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  font-weight: bold;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--white-color);
}

.header__search {
  max-width: 15rem;
  width: 100%;
  margin-right: 1rem;
}

.search__container {
  width: inherit;
}

.search__input {
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.footer-container {
  background-color: black;
  color: var(--white-color);
  padding: 2rem;
}

.footer-container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content-container {
  display: flex;
}

.content-container__sidebar {
  position: relative;
  height: 100vh;
  width: 33.333%;
  max-width: 350px;
  padding: 0 1rem;
  border-right: 1px solid #d8dee4;
}

.sidebar__section__profile {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.sidebar__section__profile__image {
  margin: 0.5rem 1rem;
  height: 1.8rem;
  width: 1.8rem;
}

.sidebar__section__profile__image img {
  border-radius: 50%;
}

.sidebar__section__profile__name {
  font-weight: bold;
}

.sidebar__section__repositories {
  margin-top: 2rem;
}

.content-container__main {
  padding: 0 1rem;
  width: 66.666%;
  flex: auto;
  background-color: #f6f8fa;
}

.repositories {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.repository-list {
  padding: 0;
}

.repository-item div {
  display: flex;
  align-items: center;
}

.repository-item__img {
  margin: 0.5rem 1rem;
  height: 1.8rem;
}

.repository-item__img img {
  height: 1.8rem;
  width: 1.8rem;
  background-color: #e3e3e3;

  border-radius: 50%;
}

.recent-activities {
  border-bottom: 1px solid var(--border-color);
}

.recent-activities__desc {
  font-size: 0.85rem;
  font-weight: 400;
}

.team {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.list-empty {
  font-size: 0.85rem;
}

.main__section {
  padding: 0 1rem;
}

.activity {
  padding-left: 0;
  padding-bottom: 2rem;
}

.activity__card {
  margin-bottom: 1.5rem;
}

.activity__card__repo {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
}

.activity__card__event {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.activity__card__repo__title {
  margin: 0.85rem 0;
  font-size: 1rem;
}
.activity__card__repo__description {
  font-size: 0.85rem;
}
